# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
venv/

# Jupyter
.ipynb_checkpoints

# IDE
.vscode/

# Data / artifacts
credit_xgb.joblib
precision_recall.png
creditcard.csv

# OS
.DS_Store
Thumbs.db
